html, body {
	overflow-x: hidden;
}
body {
	font-family: "DIN", Helvetica, Arial, sans-serif;
}
h1,h2, h3, h4, h5, h6 {
	font-family: "DIN", Helvetica, Arial, sans-serif;
}
h3 {
	font-size:28px;
	font-weight:normal;
	margin-bottom: 5px;
}
p {
	font-size:24px;
	line-height:32px;
	font-weight:lighter;
}
section {
	background-image: url(../images/ltracks.png)
}

/* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
}
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 /* HEADER */
 header {
 	color:#E7ECED;
 }
 header nav {
 	padding:4em 0;
 }
 header nav ul {
   text-align: center;
   float:center;
   overflow: hidden;
   margin:0px auto;
   width: 580px;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 60px;
 }
 header nav ul > li > a {
   color:#E1E1E1;
   text-decoration: none;
 }
 header .logo img {
 	display: block;
 	: 100px;
 	margin:3em auto 0;
 }
 header h2 {
 	font-size:24px;
 	letter-spacing: 2px;
 	color:#E1E1E1;
 	font-weight:lighter;
 	text-align: center;
 	display: block;
 	position: relative;
 	margin:30px 0 0;
 }
 header h3 {
 	font-size:24px;
 	letter-spacing: 2px;
 	color:#E1E1E1;
 	font-weight:lighter;
 	text-align: center;
 	display: block;
 	position: relative;
 	margin:80px 0 120px;
 }
 div .container {
 	text-align: center;
 }
 }
