html, body {
	overflow-x: hidden;
}
body {
	font-family: "DIN", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}
h1,h2, h3, h4, h5, h6 {
	font-family: "DIN", Helvetica, Arial, sans-serif;
}
a {
  font-family: DIN-medium;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
}
h2 {
  font-size:28px;
  font-weight:normal;
  text-align: center;
  display: block;
  color: #A9ACB2;
  letter-spacing: 2px;
}
h3 {
	font-size:28px;
	font-weight:normal;
	margin-bottom: 5px;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
}
p {
	font-size:18px;
	line-height:24px;
	font-weight:lighter;
  color: #A9ACB2;
}
.main-background {
	background-image: url('../images/ltracks.png'); 
  opacity: 0.9;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.full-width-image {
  width: 80%;
  margin-left: 45px;
  margin-top: 25px;


}

 /* HEADER */
 .topbar-header {
 	color:#E7ECED;
 }
 .topbar-header nav {
 	padding:4em 0;
 }
 .topbar-header nav ul {
   text-align: center;
   float:center;
   overflow: hidden;
   margin:0px auto;
   width: 580px;
 }
 .topbar-header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 60px;

 }
 .topbar-header nav ul > li > a {
   color:#A9ACB2;
   text-decoration: none;

 }
 .topbar-header .logo  {
  display: inline-block;
  margin-left: 445px;
  


 }
 .topbar-header h2 {
 	font-size:24px;
 	letter-spacing: 2px;
 	color:#A9ACB2;
 	font-weight:lighter;
 	text-align: center;
 	display: block;
 	position: relative;
 	margin:30px 0 0;
 }
 .topbar-header h3 {
 	font-size:24px;
 	letter-spacing: 2px;
 	color:#E1E1E1;
 	font-weight:lighter;
 	text-align: center;
 	display: block;
 	position: relative;
 	margin:80px 0 120px;
 }

 

/* PROJECTS */



 .fade-in-element {
  background-color: #e8e8e8;
  height: 420px;
  list-style: none;
  margin-bottom: 75px;
  overflow: hidden;
}

 .card-content {
    background-color: #e8e8e8;
    padding: 145px 0px 0px 0px;
}
.card-content-left {
    padding-left: 50px;
 }
 .card-content-right {
    padding-right: 50px;
}


/* HOVER */
a:link { color: #9B9B9B; text-decoration: none }
a:active { color: red; text-decoration: none }
a:visited { color: #33BBE6; text-decoration: none }
a:hover { color: #207DD1; text-decoration: none }

.card-3  a:link { color: #9B9B9B; text-decoration: none }
.card-3  a:active { color: red; text-decoration: none }
.card-3  a:visited { color: #FFFFFF; text-decoration: none }
.card-3  a:hover { color:#207DD1; }

.topbar-header nav ul > li > a:link { color: #9B9B9B; text-decoration: none }
.topbar-header nav ul > li > a:active { color: red; text-decoration: none }
.topbar-header nav ul > li > a:visited { color: #9B9B9B; text-decoration: none }
.topbar-header nav ul > li > a:hover { color:#33BBE6; }

.next-previous nav ul > li > a:link { color: #9B9B9B; text-decoration: none }
.next-previous nav ul > li > a:active { color: red; text-decoration: none }
.next-previous nav ul > li > a:visited { color: #9B9B9B; text-decoration: none }
.next-previous nav ul > li > a:hover { color:#33BBE6; }




/* ABOUT ME */
.aboutme {
  background-color: #e8e8e8;
  height: 450px;
}
.card-2 {
  list-style: none;
  overflow: hidden;
}
.card-2-content  {
  padding-bottom: 450px;
  padding-right: 60px;
  padding-left: 10;
}

.card-2-content h3 {
  font-size:22px;
  font-weight:normal;
  color:#A9ACB2;
  margin-bottom: 20px;
}

.my-pic {
  width: 50%;
  margin-left: 200px;
  margin-top: 22px;

}
.card-2-content p {
  font-size: 12px;
  color: #A9ACB2;
  line-height: 22px;
}


/* CONTACT */
.contactme {
  background-color: #33BBE6;
  height: 220px;
  overflow: hidden;
}
.contactme a {
  font-size: 9px;
  color: #ffffff;
  text-decoration: none;

}
.card-3 {
  list-style: none;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF;
}
.card-3 .title {
  margin-top: 40px;
}
.card-3 p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 0px;
  margin-top: 30px;
}
.card-3 p > a {
  font-size: 18px;
  font-family: DIN;
  letter-spacing: 0px;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #a6a6a6;
  width: 100%;
}
.dark-blue {
  height: 150px;
}

.ref-logos {
  width: 300px;
  text-align: center;
  margin-left: 300px;

}
.ref-logos .box1{
  
  margin: 35px 5px 0 25px; 
}
.ref-logos .box2{
  
  margin: 35px 5px 0 5px;
}
.ref-logos .box3{
  
  margin: 35px 5px 0 5px;
}
  


.foot-logo {
  
  float: right;
  margin: 35px 380px 0 0;
  height: 37px;
  width: 300px;
}

.foot-logo1 {
  
  float: right;
  margin: 35px 450px 0 0;
  height: 37px;
  width: 300px;
 
}
.foot-logo .box {
  width: 30px;
  overflow: hidden;
}
footer h2 {
  width: 240px;
  font-size: 12px;
  text-align: center;
  color: #E1E1E1;
  margin: 10px 10px 10px 0;
  letter-spacing: 1px;
  float: right;
}




/* BLOCBOX */
.subtle-bg {
  background-image: url('../images/pagrbg.png');
  height: 400px;
  background-size: cover;
  border: 1px solid #f5f5f5;

}

.page-section {
  margin-top: 100px;
}
.case-studies {
  margin-top: 190px;
  padding-right: 20px;
}
.title {
  margin-top: 100px;
}
.content-space {
  margin-top: 100px;
  padding-left: 10px;
}

.content-space a {
  font-family: DIN;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0px;
}
.card-5 h3 {
  font-size: 18px;
  overflow: hidden;
  text-align: center;
  color: #A9ACB2;
  margin-top: 50px;
}
.card-5 .card-content-left {
  padding-left: 40px;
}
.card-5 .card-content-right {
  padding-right: 40px;
}
.main-images {
  padding-left: 40px;
  display: block;
  float: center;
}
.dark-blue {
  margin-top: 10px;
  background-color: #1F69C9;
}
.next-previous {
  color:#9B9B9B;
  padding-right: 30px;
 }
 .next-previous nav {
  padding:4em 0;
 }
 .next-previous nav ul {
   text-align: center;
   float:center;
   overflow: hidden;
   margin:20px auto;
   width: 700px;
 }
 .next-previous nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 60px;
 }
 .next-previous nav ul > li > a {
   text-decoration: none;
   color: #9B9B9B;
 }
 

/* PAYCRAVE */
.imagetitle {
  padding-top: 200px;
}
.image-title h3 {
  font-size: 18px;
  text-align: center;
  color: #A9ACB2;
 }
.paycrave-main-images {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}
.paycrave-main-images-wire {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
  margin-bottom: 450px;
}
.paycrave-main-images-flow {
  padding-left: 80px;
  display: block;
  float: center;
  margin-top: 10px;
  margin-bottom: 450px;
}

.aleksmilo-main-images {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}
.thepelican-main-images {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}

.aleksmilo-images {
  margin-top: 100px;
  display: block;
  margin-left: 30px;
}
.paycrave-images {
  margin-top: 100px;
  display: block;
  margin-left: 30px;
}
.thepelican-images {
  margin-top: 100px;
  display: block;
  margin-left: 30px;
}


.paycrave-main-images-wire { width:190px;
       height:190px; opacity: 1;
       filter: alpha(opacity=100);
       
       } .paycrave-main-images-wire:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
        } - See more at: http://www.corelangs.com/css/box/hover.html#sthash.IFvi66cA.dpuf
      }

      /* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

