html, body {
	overflow-x: hidden;
}
body {
	font-family: "DIN", Helvetica, Arial, sans-serif;
}
h1,h2, h3, h4, h5, h6 {
	font-family: "DIN", Helvetica, Arial, sans-serif;
}
a {
  font-family: DIN-medium;
  font-size: 12px;
  letter-spacing: 1px;
}
h2 {
  font-size:28px;
  font-weight:normal;
  text-align: center;
  display: block;
  color: #A9ACB2;
  letter-spacing: 2px;
}
h3 {
	font-size:28px;
	font-weight:normal;
	margin-bottom: 5px;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
}
p {
	font-size:18px;
	line-height:24px;
	font-weight:lighter;
  color: #A9ACB2;
}
.main-background {
	background-image: url('../images/ltracks.png')
}

.full-width-image {
  width: 100%;
}

 /* HEADER */
 .topbar-header {
 	color:#E7ECED;
 }
 .topbar-header nav {
 	padding:4em 0;
 }
 .topbar-header nav ul {
   text-align: center;
   float:center;
   overflow: hidden;
   margin:0px auto;
   width: 580px;
 }
 .topbar-header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 60px;

 }
 .topbar-header nav ul > li > a {
   color:#A9ACB2;
   text-decoration: none;

 }
 .topbar-header .logo  {
  display: block;
  float: center;
  margin:3em auto 0;
 }
 .topbar-header h2 {
 	font-size:24px;
 	letter-spacing: 2px;
 	color:#A9ACB2;
 	font-weight:lighter;
 	text-align: center;
 	display: block;
 	position: relative;
 	margin:30px 0 0;
 }
 .topbar-header h3 {
 	font-size:24px;
 	letter-spacing: 2px;
 	color:#E1E1E1;
 	font-weight:lighter;
 	text-align: center;
 	display: block;
 	position: relative;
 	margin:80px 0 120px;
 }

/* PROJECTS */



 .fade-in-element {
  background-color: #FFFFFF;
  height: 445px;
  list-style: none;
  margin-bottom: 75px;
  overflow: hidden;
}

 .card-content {
    background-color: #ffffff;
    padding: 160px 0px 0px 0px;
    opacity: 30%;

}


.card-3  a:link { color: #9B9B9B; text-decoration: none }
.card-3  a:active { color: red; text-decoration: none }
.card-3  a:visited { color: #FFFFFF; text-decoration: none }
.card-3  a:hover { text-decoration: underline }


 .card-content-left {
    padding-left: 40px;
 }
 .card-content-right {
    padding-right: 30px;
}


/* ABOUT ME */
.aboutme {
  background-color: #1F69C9;
  height: 450px;
  
}
.card-2 {
  
  list-style: none;
  overflow: hidden;
  
}
.card-2-content {
  padding-bottom: 300px;
  padding-right: 20px;
  padding-top: 0;
}

.card-2-content h3 {
  font-size:22px;
  font-weight:normal;
  color:#ffffff;
  margin-bottom: 20px;


}
.my-pic {
  width: 100%;
  float: left;
  padding-left: 0px;

}

.card-2-content p {
  font-size: 12px;
  color: #ffffff;
  line-height: 28px;
}

/* CONTACT */
.contactme {
  background-color: #33BBE6;
  height: 220px;
  overflow: hidden;
}
.contactme a {
  font-size: 9px;
  color: #ffffff;
  text-decoration: none;

}
.card-3 {
  list-style: none;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF;
}
.card-3 .title {
  margin-top: 40px;
}
.card-3 p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 0px;
  margin-top: 30px;
}
.card-3 p > a {
  font-size: 18px;
  font-family: DIN;
  letter-spacing: 0px;
}

/* FOOTER */
footer {
  height: 220px;
  background-color: #9B9B9B;
  overflow: hidden;
}
.logo {
  margin-top: 40px;
  display: block;
  float: center;
  margin:4em auto 0;
}
footer .logo {
  margin-bottom: 20px;

}
footer h2 {
  font-size: 18px;
  overflow: hidden;
  text-align: center;
  color: #E1E1E1;
}

/* BLOCBOX */

.page-section {
  margin-top: 100px;
}
.case-studies {
  margin-top: 190px;
  padding-right: 20px;
}
.title {
  margin-top: 100px;
}
.content-space {
  margin-top: 100px;
  padding-left: 10px;
}

.content-space a {
  font-family: DIN;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0px;
}
.card-5 h3 {
  font-size: 18px;
  overflow: hidden;
  text-align: center;
  color: #A9ACB2;
  margin-top: 50px;
}
.card-5 .card-content-left {
  padding-left: 40px;
}
.card-5 .card-content-right {
  padding-right: 40px;
}
.main-images {
  padding-left: 40px;
  display: block;
  float: center;
}
.dark-blue {
  margin-top: 10px;
  background-color: #1F69C9;
}
.next-previous {
  color:#9B9B9B;
  padding-right: 30px;
 }
 .next-previous nav {
  padding:4em 0;
 }
 .next-previous nav ul {
   text-align: center;
   float:center;
   overflow: hidden;
   margin:20px auto;
   width: 700px;
 }
 .next-previous nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 60px;
 }
 .next-previous nav ul > li > a {
   text-decoration: none;
   color: #9B9B9B;
 }
 

/* PAYCRAVE */
.imagetitle {
  padding-top: 200px;
}
.image-title h3 {
  font-size: 18px;
  text-align: center;
  color: #A9ACB2;
 }
.paycrave-main-images {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}
.paycrave-main-images-wire {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}
.thepelican-main-images {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}
.aleksmilo-main-images {
  padding-left: 40px;
  display: block;
  float: center;
  margin-top: 10px;
}





